---
BasedOnStyle: Google

IndentWidth: 4
ColumnLimit: 120

DerivePointerAlignment: true
PointerAlignment: Left

AllowShortFunctionsOnASingleLine: Empty

AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true

AlignTrailingComments: true

AllowAllArgumentsOnNextLine: true

